@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #363636;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 1366px;
  height: 768px;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
}

/* Fallback font-size scaling */
:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

/* Disable fancy backdrop/filter untuk browser lawas */
@supports not ((backdrop-filter: blur(5px))) {
  .backdrop-blur-sm {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1;
}

h3 {
  font-size: 2em;
  line-height: 1;
}

button {
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.css-13cymwt-control {
  border-width: 0 !important;
}

@supports not (filter: drop-shadow(0 0 10px #000)) {
  img,
  .shadow-md {
    filter: none !important;
  }
}